<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">Elorrieta</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/reto2grupo5</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">none</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
		<mapping resource="Matriculation.hbm.xml"/>
        <mapping resource="Course.hbm.xml"/>
        <mapping resource="Student.hbm.xml"/>
        <mapping resource="Assistant.hbm.xml"/>
        <mapping resource="Schedule.hbm.xml"/>
        <mapping resource="Professor.hbm.xml"/>
        <mapping resource="Reunion.hbm.xml"/>
        <mapping resource="Client.hbm.xml"/>
        <mapping resource="Subject.hbm.xml"/>
        <mapping resource="Documents.hbm.xml"/>
        <mapping resource="Externalcourse.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
