<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">Elorrieta</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/reto2grupo5</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">none</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/Version.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$waitClassesGlobalByAvgLatency.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$memoryByUserByCurrentBytes.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/SchemaTablesWithFullTableScans.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$schemaTableStatisticsWithBuffer.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/MemoryByThreadByCurrentBytes.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$psDigestAvgLatencyDistribution.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/Reunion.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$statementsWithErrorsOrWarnings.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$userSummaryByFileIoType.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$waitsByHostByLatency.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/Metrics.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$userSummary.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$waitClassesGlobalByLatency.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/SchemaTableLockWaits.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$innodbBufferStatsByTable.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$psDigest95thPercentileByAvgUs.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/SchemaObjectOverview.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/InnodbBufferStatsBySchema.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/IoGlobalByFileByLatency.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$ioByThreadByLatency.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$statementsWithFullTableScans.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$statementsWithSorting.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/PsCheckLostInstrumentation.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$schemaTableLockWaits.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/Assistant.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/SchemaAutoIncrementColumns.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/Course.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/MemoryByUserByCurrentBytes.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/MemoryGlobalByCurrentBytes.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/MemoryGlobalTotal.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$ioGlobalByFileByLatency.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/StatementsWithSorting.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$hostSummaryByStatementLatency.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/UserSummaryByStatementType.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/SchemaRedundantIndexes.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$hostSummaryByFileIo.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$statementAnalysis.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$userSummaryByFileIo.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/Departamentos.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/MemoryByHostByCurrentBytes.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/InnodbLockWaits.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/WaitsByUserByLatency.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$userSummaryByStages.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$session.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/Student.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/LatestFileIo.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$ioGlobalByWaitByLatency.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/UserSummaryByFileIo.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$statementsWithRuntimesIn95thPercentile.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/HostSummaryByFileIo.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/Professor.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/IoGlobalByFileByBytes.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/UserSummaryByStatementLatency.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/StatementsWithFullTableScans.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$waitsByUserByLatency.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/Schedule.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$schemaIndexStatistics.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/Processlist.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/UserSummary.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$schemaTableStatistics.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$memoryByHostByCurrentBytes.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/StatementAnalysis.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/HostSummaryByStatementLatency.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$memoryGlobalByCurrentBytes.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$hostSummaryByStatementType.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/SysConfig.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/UserSummaryByFileIoType.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/HostSummaryByFileIoType.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$statementsWithTempTables.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$hostSummaryByStages.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/Subject.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/StatementsWithErrorsOrWarnings.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/Session.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/WaitClassesGlobalByLatency.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/Matriculation.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/SchemaIndexStatistics.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/Liher.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/IoGlobalByWaitByBytes.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$ioGlobalByFileByBytes.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/HostSummaryByStages.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/UserSummaryByStages.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/HostSummary.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/SchemaUnusedIndexes.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/SessionSslStatus.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$schemaTablesWithFullTableScans.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/SchemaTableStatistics.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/HostSummaryByStatementType.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/IoGlobalByWaitByLatency.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/WaitClassesGlobalByAvgLatency.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/WaitsByHostByLatency.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/Empleados.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$userSummaryByStatementLatency.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/InnodbBufferStatsByTable.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$schemaFlattenedKeys.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/StatementsWithTempTables.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/WaitsGlobalByLatency.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/StatementsWithRuntimesIn95thPercentile.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$hostSummary.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/Client.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$processlist.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$hostSummaryByFileIoType.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/IoByThreadByLatency.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$psSchemaTableStatisticsIo.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$userSummaryByStatementType.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$memoryByThreadByCurrentBytes.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$latestFileIo.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/SchemaTableStatisticsWithBuffer.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$waitsGlobalByLatency.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$ioGlobalByWaitByBytes.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$innodbBufferStatsBySchema.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$memoryGlobalTotal.hbm.xml"/>
        <mapping resource="com/Reto2/RetoServer/Database/Entity/X$innodbLockWaits.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
